---
import Layout from "../layouts/Layout";
import Links from "../components/Links";
import Link from "../components/Link";
---

<Layout>
  <div class="h-full flex flex-col items-center justify-center text-center">
    <h1 class="mb-2 text-6xl text-gray-800 font-medium leading-none dark:text-gray-200">
      Lynn Romich
    </h1>
    <p class="mb-6 text-lg text-gray-800 dark:text-gray-200">
      Turning ☕ into 💾 since 19XX
    </p>
    <div class="mb-6">
      <Links />
    </div>
    <div class="mx-auto max-w-md flex flex-col gap-4">
      <p>👋 Hi! I'm Lynn.</p>
      <p>
        I'm a freelance software engineer, looking to work with ethical, human-friendly companies. If that's you,
        please get in touch! You can see my resume
        <Link href="/resume">here</Link>.
      </p>
      <p>
        I also build my own products! Right now I'm working on
        <Link href="https://usekonbini.com" target="_blank">Konbini</Link>,
        a universal ecommerce API platform.
      </p>
    </div>
  </div>
</Layout>