---
import "@fontsource/fira-code/400.css";
import "@fontsource/fira-code/600.css";

import { parseISO, differenceInYears, differenceInDays, format, formatDistanceToNow } from "date-fns"
import readingTime from 'reading-time';
import ReadingTime from "../components/ReadingTime";
import Layout from "./Layout";
import Links from "../components/Links";

const { content } = Astro.props;

const date = parseISO(content.date)
const showDateWarning = differenceInYears(new Date(), date) >= 2
const showRelativeTime = differenceInDays(new Date(), date) >= 1

---

<Layout title={content.title}>
  <div class="mx-auto max-w-2xl">
    <div class="mb-8">
      <h1 class="mb-3 text-4xl font-medium">{content.title}</h1>
      <time datetime={content.date}>
        {format(date, "MMMM do, yyyy")}
        {showRelativeTime && (
        <span class="text-gray-500 dark:text-gray-400">
          ({formatDistanceToNow(date, { addSuffix: true })})
        </span>
        )}
      </time>
      <span class="ml-1 mr-0.5 text-gray-500 dark:text-gray-400">&middot;</span>
      <ReadingTime minutes={readingTime(content.astro.source).minutes} />
    </div>
    {showDateWarning && (
    <div
      class="mb-8 py-3 px-4 rounded-md bg-red-100 text-red-900 dark:bg-transparent dark:border-2 dark:border-red-900 dark:text-white">
      Watch out! This post is{" "}
      <strong class="font-medium">over two years old</strong>. Tech moves quickly, so make sure the stuff in this post
      is still valid before relying on it, especially if you're looking at code samples.
    </div>
    )}
    <article
      class="mb-12 prose prose-lg prose-neutral prose-pre:!bg-gray-800 prose-pre:!text-base prose-pre:leading-normal dark:prose-invert">
      <slot />
    </article>
    <div>
      <p class="mb-4 text-gray-500 dark:text-gray-400">
        Hey, thanks for reading all the way through! If you'd like to get in
        touch or check out what else I've worked on, here's where you can find me on the usual places.
      </p>
      <Links />
    </div>
  </div>
</Layout>